@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

body {
    background-color: #f7f7f7;
}

* {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.header-class {
    display: flex;
    background-color: #18a5fa;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    margin-bottom: 5%;
}

.logo-img {
    width: 5%;
}

.navbar {
    width: 100%;
}

.logo {
    display: flex;
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
    float: left;
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-left: 15%;
}

.logo span {
    margin-top: 12px;
}

#welcome-user {
    display: flex;
    margin-top: 22px;
    font-family: 'Oswald', sans-serif;
    float: left;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: -13%;
}

/* Homepage Restaurant List */

#container {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: flex;
}

.left-side-homepage {
    margin-top: 3%;
    width: 70%;
    margin-left: 5%;
}

.right-side-homepage {
    width: 18%;
    border: 1px solid rgba(0, 0, 3, 0.158);
    height: 500px;
    background-image: url(../data/assets/gray-textured-wall.jpg);
    background-size: cover;
    text-align: center;
    border-radius: 3px;
}

.right-side-homepage a {
    text-decoration: none;
}

.right-side-homepage h1 {
    margin-top: 35px;
    color: white;
}

.right-side-homepage h3 {
    color: white;
}

.ad-big-text {
    font-size: 55px;
    color: red;
    font-weight: 600;
    animation: sclaeIn 2s linear infinite;
}

.ad-mini-text {
    font-size: 12px;
    color: black;
}

.ad-img {
    width: 89%;
    margin-bottom: 15%;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes sclaeIn {
    10% {
        transform: rotate(15deg);
        transform: scale(1);
    }

    25% {
        transform: rotate(-5deg);
    }

    35% {
        transform: rotate(5deg);
    }

    45% {
        transform: rotate(-5deg);
    }

    55% {
        transform: scale(1.4);
        transform: rotate(5deg);
    }

    65% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    85% {
        transform: rotate(-5deg);
    }

    95% {
        transform: scale(1.4);
        transform: rotate(5deg);
    }
}


h2 {
    margin-bottom: 2%;
}

#rest-list {
    display: inline-grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
}

.rest-box {
    max-width: 400px;
    height: 270px;
    border: 1px solid #18a5fa;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.33);
    transition: 0.2s;
}

.rest-box p {
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    line-height: 0;
    font-weight: 500;
    cursor: pointer;
}

.rest-time {
    display: none;
}

.bx {
    color: #18a5fa;
}

.rest-box:hover {
    cursor: pointer;
    box-shadow: 0px 6px 5px 0px rgba(6, 86, 161, 0.33);
    transition: 0.2s;

    .rest-image {
        object-fit: cover;
        width: 400px;
        height: 100px;
        transition: 0.2s;
    }

    .rest-desc {
        display: block;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.rest-image {
    object-fit: cover;
    width: 400px;
    height: 150px;
    transition: 0.2s;
}

.rest-id {
    display: none;
}

.rest-title {
    color: #454545;
    font-size: 16px;
}

.rest-type {
    color: #454545;
    font-size: 13px;
}

.rest-rating {
    color: #454545;
    font-size: 13px;
}

.rest-desc {
    display: none;
    font-size: 13px;
    color: #555555;
}


/* Sort Buttons */
.sorting-buttons {
    text-align: left;
    margin-left: 5%;
}

#sortByFood {
    transition: 0.2s;
    display: flex;
    margin-left: -1%;
    -webkit-text-stroke: 0.005cm black;
}

#sortByFood button {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #45454557;
    transition: 0.2s;
    color: white;
    font-weight: 500;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.33);
}

#sortByFood button:hover {
    cursor: pointer;
    border: 1px solid #18a5fa;
    transform: scale(1.05);
    transition: 0.2s;
}

#sortByFood button.active {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #18a5fa;
    transform: scale(1.05);
    transition: 0.2s;
}


/* Sort Food Images */

.All {
    background-image: url(../data/assets/pizza-thumb.jpg);
    background-size: cover;
    object-fit: cover;
}

.Pizza {
    background-image: url(../data/assets/pizza-thumb.jpg);
    background-size: cover;
    object-fit: cover;
}

.Middle-East {
    background-image: url(../data/assets/middleeast.png);
    background-size: cover;
    object-fit: cover;
}

.Asian {
    background-image: url(../data/assets/asianfood.jpg);
    background-size: cover;
    object-fit: cover;
}

.Mexican {
    background-image: url(../data/assets/mexicanthumb.png);
    background-size: cover;
    object-fit: cover;
}

.Burger {
    background-image: url(../data/assets/borgerthumb.jpg);
    background-size: cover;
    object-fit: cover;
}

/* Restaurant page */

#rest-page-container {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: flex;
}

.right-side-restpage {
    margin-top: 2.1%;
    width: 20%;
    border: 1px solid rgba(0, 0, 3, 0.158);
    height: 620px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3px;
}

.left-side-restpage {
    margin-top: 0%;
    width: 65%;
}

#foodTitle {
    margin-left: 10%;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

#foodList {
    display: inline-grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 55%;
    margin-left: 10%;
}

.foodBox {
    max-width: 300px;
    height: 300px;
    border: 1px solid #bebebe;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.33);
    transition: 0.2s;
}

.food-image {
    object-fit: cover;
    width: 300px;
    height: 150px;
    transition: 0.2s;
}


.foodBox p {
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    line-height: 0;
    font-weight: 500;
    cursor: pointer;
}

.foodBox:hover {
    cursor: pointer;
    box-shadow: 0px 6px 5px 0px rgba(6, 86, 161, 0.33);
    transition: 0.2s;

    .rest-image {
        object-fit: cover;
        width: 300px;
        height: 100px;
        transition: 0.2s;
    }

    .food-buy {
        display: none;
    }
}

.prod-price {
    margin-top: 5px;
    color: #1481c5;
}

.add-to-cart {
    background-color: rgba(0, 153, 255, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.096);
    border-radius: 8px;
    width: 55px;
    height: 35px;
    transition: 0.2s;
    z-index: 100;
    margin-left: 10px;
}

.add-to-cart:hover {
    background-color: rgba(0, 153, 255, 0.301);
    color: #1481c5;
    transition: 0.2s;
}

.food-desc {
    color: #454545;
    height: 75px;
    font-size: 13px;
    word-wrap: break-word;
    margin-left: 10px;
}

/* Order Container */

#order-container {
    border-top: 1px solid rgba(0, 0, 0, 0.116);
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    padding: 10px;
    width: 90%;
    margin-left: 2%;
    margin-bottom: 5%;
    height: 440px;
    overflow-y: auto;
}

.cart-food-title {
    text-align: left;
    margin-left: 50px;
}

.food-list-cart {
    border-top: 1px solid rgba(0, 0, 0, 0.041);
}

.cart-food-price {
    text-align: right;
    margin-right: 50px;
}

.cart-food-image {
    width: 50px;
}

#order-button{
    width: 55%;
    margin-top: 15px;
    height: 35px;
    background-color: #18a5fa;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 4px;
    overflow: hidden;
    color: white;
}
#order-button #biker{
    margin-top: 5px;
    width: 10%;
}

#order-button:focus #biker{
    color: white;
    animation: spinNow 4s;
    animation-fill-mode: none; 
}

/* .order-button:focus span{
    display: none;
    transition: 0.2s;
}

.order-button span{
    animation: goNow 4s ease-in-out;
    animation-fill-mode: none; 
}*/

@keyframes spinNow {
    0% {
        transform: rotate(-35deg);
    }

    90% {
        margin-left: 390px;
    }
}
/* 
@keyframes goNow {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
        display: none;
    }
} */


.bx-x{
    color: #18a3fa9d;
    padding-top: 2px;
    float: left;
    font-size: 18px;
    transition: 0.2s;
}

.bx-x:hover{
    cursor: pointer;
    color: #fa1818de;
    transition: 0.2s;
}